<div class="container text-center pt-5">
   <h1 class="display-3"> We are Front-End Developers </h1>
   <h4 class="pt-sm-3 text-success">“If you're already a front-end developer, well, pretend you're also wearing a pirate hat.”</h4>
   <button class="btn btn-dark mt-3">ENQUIRE</button>
</div>
<div id="mySidenav" class="sidenav">
  <a href="#" id="projects">Projects</a>
  <a href="#" id="Desgin">Desgin</a>
  <a href="#" id="Support">Support</a>
  <a href="#" id="More">More</a>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="display-4 text-center">2800</h3>
             <h6 class="text-center">PROJECTS</h6>
        </div>
        <div class="col-sm-3">
            <h3 class="display-4 text-center">600+</h3>
             <h6 class="text-center">STAFF</h6>
        </div>
        <div class="col-sm-3">
            <h3 class="display-4 text-center">5</h3>
             <h6 class="text-center">OFFICE</h6>
        </div>
        <div class="col-sm-3">
            <h3 class="display-4 text-center">10,000+</h3>
             <h6 class="text-center">HAPPY CLIENTS</h6>
        </div>      
    </div>
</div>



<div class="pt-5">
    <img src="https://wallpapercave.com/wp/wp4974496.jpg" alt="" style="height:500px ; width: 100%;">
</div>


<div class="container pt-5">
    <p class="text-center display-4">Beauty happen with the code not by chance we employe creativty tools,code and solid online branding knowledge to build an elegant solutions for our clients</p>
    <h2 class="text-center text-success">we are fundamentally technology people,As apart of Front-End Developers, we're laying the work for web and mobile developement innovation through laser focused solutions </h2>
  
    <div class="d-flex justify-content-center pt-3">
    <button class="btn btn-dark">MEET OUR TEAM </button>
      
    </div>
  
</div>

 <br>
 <br>
<div class="container jumbotron">
    <p class="display-4 text-center">What's different when you work with us?</p>

    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-success">we deliver quick & efficent Based on 3 Factors </h6>
            <ul>
                <li>Quality of service is always on top notch</li>
                <li>Time isn't an issue due to our large team of Desginers & Developers</li>
                <li>Cost efficent is due to our hybrid bussiness model</li>
            </ul>
            <p>with over 10+ years of experience as a mobile app and website developement agency. you can rest assured that your are working with complete solution provider.</p>
        </div>
        <div class="col-sm-6">
            <h6 class="text-success">Key roles played in the developement of the company </h6>

            <p>When you engage our digital agency our digit agency for your PROJECTS you get intant access to learn of 120+ technology legends includes stradegy, designer Developers Quality</p>
            <p>Capture more customers with a great brand recall. Whether you need a catchy slogan for advertising or as a tagline for your business</p>
        </div>
    </div>

</div>

<br>
 <br>

 <div class="container">
    <h1 class="display-4 text-center">OUR PROCESS</h1>
    <h6 class="text-center">A company's mission, what it stands for, and even how it's helping customers in the individual campaigns the company might run. Slogans can therefore be longer than taglines, as you'll see in the list below.</h6>
     <br>
    <div class="card-deck">
        <div class="card">
          <img src="https://cdn-images-1.medium.com/max/640/1*K2iFkHhIjhV-f9bkE3ZhJg.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Project initiation</h5>
            <p class="card-text">
                
                <li>Requirement Gathering </li>
                <li>Project plan</li>
                <li>proposal</li>
                <li>solution page</li>
            </p>
             
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzGioodxL2Mgt7m3A1NEzvl42tmKDARu-yMA&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Desgin</h5>
            <p class="card-text">
                
                <li>Concept </li>
                <li>Branding </li>
                <li>Style Guide</li>
                <li>Story boarding</li>
            </p>
             
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRthNTpCcocUSxFfKlAFeNxe3B2FU0P55EpZA&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Developement</h5>
            <p class="card-text">
                
                <li>Front-End Developers </li>
                <li>Back-End Developers</li>
                <li>Devops</li>
                <li>Quality assurance</li>
            </p>
             
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

        <div class="card">
          <img src="https://cdn1.vectorstock.com/i/1000x1000/26/85/support-logo-icon-vector-11942685.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Support</h5>
            <p class="card-text">
                
                <li>Enhancements</li>
                <li>Timely Support</li>
                <li>Analytics</li>
                <li>Secure scans</li>
            </p>
             
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
    </div>  
    <br>
    <div class="d-flex justify-content-center pt-3">
    <button class="btn btn-dark">LEARN MORE </button>   
        
</div>

<br>
<br>
<br>
<br>
