<div class="container bg-dark">
    <div class="row">
        <div class="col-sm-6">
            <div class="p-5 ">
                <h1 class="text-info display-4 text-center">Signup With Social Networks</h1>
                <hr class="bg-white">
                <div class="d-flex ml-5">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384053.svg" style="height: 25px;" width="30px" alt="">
                    <h6 class="text-white ml-2"> 
                      
                      <a href="https://www.Facebook.com" style="text-decoration: none;">Facebook</a>

                      </h6>
                </div> 
                <br>
                <div class="d-flex ml-5">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/179/179326.svg" style="height: 25px;" width="30px" alt="">
                    <h6 class="text-white ml-2">   
                      <a href="https://www.Google+.com" style="text-decoration: none;"> Google+</a>
                      
                     </h6>
                </div>
                <br>
                <div class="d-flex ml-5">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2875/2875404.svg" style="height: 25px;" width="30px" alt="">
                    <h6 class="text-white ml-2">
                      <a href="https://www.Google.com" style="text-decoration: none;"> Google</a>
                      
                      </h6>
               
                </div>
                <br>
                <div class="d-flex ml-5">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/179/179342.svg" style="height: 25px;" width="30px" alt="">
                    <h6 class="text-white ml-2">

                      <a href="https://www.Twitter.com" style="text-decoration: none;"> Twitter</a>
                   

                    </h6>
               
                </div>
                <br>
                <div class="d-flex ml-5">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/174/174857.svg" style="height: 25px;" width="30px" alt="">
                    <h6 class="text-white ml-2">
                      <a href="https://www.Linkedin.com" style="text-decoration: none;"> Linkedin</a>

                    </h6>
               
                </div>

            </div>
        </div>

        <div class="col-sm-6 pt-3">
            <p class="display-4 text-center bg-warning p-1">Signup</p>
            <form>
                <div class="form-group row">
                  <label for="n" class="col-sm-2 col-form-label text-white">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="n" placeholder="Enter Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="em" class="col-sm-2 col-form-label text-white">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="em" placeholder="Enter Email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ph" class="col-sm-2 col-form-label text-white">Phone Number</label>
                  <div class="col-sm-10">
                    <input type="maxlength" class="form-control" id="ph"  maxlength="10"  placeholder="Enter Number">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ct" class="col-sm-2 col-form-label text-white">Enter Address</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="ct" placeholder="Enter Address">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="p" class="col-sm-2 col-form-label text-white">Enter pincode</label>
                  <div class="col-sm-10">
                    <input type="maxlength" class="form-control" id="p" maxlength="6" placeholder="Enter pincode">
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block ">
                  
                  <a href="login" style="text-decoration: none;" >Register</a>
                  </button>
               
              </form>   
              <br>
              <br>
        
        </div>

         
    </div>
</div>
 