<div class="jumbotron">
    <h1 class="display-4 text-center">GET IN TOUCH</h1>

    <div class=" jumbotron m-5 bg-dark">


        <div class="row">
            <div class="col-sm-6 text-center p-5">
                <p class="text-white">Don't want to use the form?</p>
                <p class="text-white">Here's some other handy options to contact us</p>
                <br>
                <br>
        
               <div class="text-center">
                <div class="d-flex ml-5">
                  <img src="https://www.flaticon.com/svg/static/icons/svg/174/174857.svg" style="height: 25px;" width="30px" alt="">
                  <h6 class="text-white ml-2">Linkedin</h6>
             
              </div> <br>
        
              <div class="d-flex ml-5">
                <img src="https://www.flaticon.com/svg/static/icons/svg/281/281769.svg" style="height: 25px;" width="30px" alt="">
                <h6 class="text-white ml-2"> GMail</h6>
            </div> <br>
            <div class="d-flex ml-5">
              <img src="https://www.flaticon.com/svg/static/icons/svg/179/179342.svg" style="height: 25px;" width="30px" alt="">
              <h6 class="text-white ml-2">Twitter</h6>
         
          </div>
               </div>
            </div>

            <div class="col-sm-6 text-center p-3">
            <p class="text-white">    Contact us using a form. <br>
                Fill in your details below and send your query direct to us.</p>
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput2"></label>
                      <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="0123456789">
                    </div>
                
            
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"></label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your Query"></textarea>
                    </div>
                    <br>
                      <button type="submit" class="btn btn-success btn-lg">Submit</button>
                  </form>
            </div>
        </div>


    </div>
            <div class="text-dark text-center p-4">
                <p>All information submitted will be treated confidential in the terms of our strict privacy policy. To view this click here.</p>
            </div>
   


</div>